{
    "tabWidth": 4,
    "useTabs": false,
    "endOfLine": "auto",
    "printWidth": 120,
    "trailingComma": "all",
    "singleQuote": false,
    "arrowParens": "always",
    "bracketSameLine": false,
    "bracketSpacing": true
}
